
/* Fonts */
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/robotoslab-regular-webfont.eot');
    src: url('/fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('/fonts/robotoslab-regular-webfont.woff') format('woff'),
         url('/fonts/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family:    "Roboto";
}

