
/* --- Fonts ----------------------------------------------------------------------- */
@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/robotoslab-regular-webfont.eot');
    src: url('/fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('/fonts/robotoslab-regular-webfont.woff') format('woff'),
         url('/fonts/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/robotoslab-light-webfont.eot');
    src: url('/fonts/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotoslab-light-webfont.woff2') format('woff2'),
         url('/fonts/robotoslab-light-webfont.woff') format('woff'),
         url('/fonts/robotoslab-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family:    "Roboto Slab", serif;
    font-size:      19px; /* about 1.2em, used as basis */
    font-weight:    300;
    color:  #000;
    padding-bottom: 380px;
}

/* --- Layout ----------------------------------------------------------------------- */
main {
    max-width:  950px; /* maps to 50em */
    margin-left:    100px;
}
body h1 {
    width:  100%;
    background: url("/img/line-black.svg") 0 28px repeat-x, #fff;
    border-bottom:  38px solid #ff8921;
    padding-bottom: 19px;
    margin-bottom:  57px;
}
h1.floatingHeader {
    padding-bottom: 0;
    border-bottom:  none;
}
h1, h2, h3 {
    font-weight:    300;
    background: #fff;
    z-index:    5;
    font-size:  38px;
}
h1 span {
    background: #fff;
    display:    inline-block;
}
h1 span.title {
    padding-right:   15px;
}
h1 span.name {
    float: right;
    padding-left:   15px;
}
h2, h3 {
    margin-top: 9px;
}
nav {
    text-align: center;
    margin-top: 57px;
    background: #fff;
}
nav ul {
    list-style-type:    none;
    padding:    0;
    display:    inline-block;
    margin: 0;
}
nav li {
    display:    inline-block;
    border-bottom:  9px solid #fff;
}
nav li:hover {
    border-bottom-color:  #ff8921;
    transition: border-bottom-color 1s;
}
nav a {
    text-decoration:    none;
    display:    inline-block;
    min-width:  150px;
    border-left:   1px solid #ff8921;
    border-right:   1px solid #fff;
    text-align: center;
    color: #666;
    font-size: 27px;
    font-weight: normal;
}
nav li:hover a {
    text-decoration:    none;
    color:  #ff8921;
    transition: color 1s, border-right-color 1s;
    border-right-color:   #ff8921;
}
nav li:hover + li a {
    border-left-color:  #fff;
    transition: border-left-color 1s;
}
nav li:first-of-type a {
    border-left:   none;
}
nav li:last-of-type:hover a {
    border-right-color:   #fff;
}
main > section, div.intro {
    padding: 0 13px 0 27px;
}
section, div.intro {
    line-height:    36px;
    margin: 152px 0 0 0;
}

/* --- Graphics ----------------------------------------------------------------------- */
figure.illustration {
    float:  right;
    margin: 0 0 19px 19px;
    position:   relative;
}
figure.illustration figcaption {
    font-size:  12px;
    line-height:    1.2;
    min-height: 38px;
    text-align: right;
    padding-top:    0;
    margin-top: 0;
    position:   absolute;
    bottom: 0;
    right:  0;
    background: #fff;
    background: linear-gradient(135deg, transparent 10px, #fff 0) top left;
    padding:    8px 19px 19px 19px;
    width:  280px;
    opacity:    0.5;
    box-sizing: border-box;
    transition: opacity 0.5s;
}
figure.illustration:hover figcaption {
    opacity:    0.9;
}
figure.illustration cite {
    border-bottom:    none;
}

/* --- Classics ----------------------------------------------------------------------- */
span.q {
    font-style: italic;
}
strong {
    font-weight:    normal;
    color:  hsl(7, 55%, 15%);
}
p {
    margin: 17.7px 0;
}
a {
    /*color:  #ff725e;*/ /* hsl(7, 100%, 68%); */
    color:  #ff8921;
    text-decoration:    none;
}
a:hover {
    color:  #ff5521;
    text-decoration:    underline;
}
cite {
    border-bottom:  1px solid silver;
}
a cite {
    border-bottom:    none;
}
.end {
    color:  #ff8921;
}

/* --- Ideas ----------------------------------------------------------------------- */
#blurbs a {
    display:    block;
    transition: background 1s;
    text-align: left;
}
#blurbs a:hover {
    text-decoration:    none;
    background: #ffe0c4;
}
#blurbs a:hover h4 {
    background: #ff8921;
    color:  #fff;
}
#blurbs h4 {
    font-weight:    normal;
    margin: 0;
    padding: 0 9px;
    transition: color 0.5s, background 1s;
}
#blurbs p {
    color:  #000;
    margin-top: 0;
    font-size:  14px;
    line-height:    normal;
    padding: 5px 9px 0 9px;
}
.exlink {
    color:  #666;
    text-decoration:    underline;
}

/* --- CV ----------------------------------------------------------------------- */
#cv th {
    white-space:  nowrap;
    vertical-align: top;
    text-align: right;
    font-weight:  300;
    font-style: italic;
    padding-right:  1em;
    font-size:  1.1em;
}
#cv td {
    vertical-align: top;
    padding-bottom:  1em;
}
#cv table h4 {
    padding:  0;
    margin: 0;
    font-size:  1.1em;
    font-weight:    normal;
}
#cv td p {
    margin-top: 0.5em;
}
#cv .who {
    font-weight:  300;
    font-style: italic;
}
#cv .where {
    font-weight:  300;
    font-size:  0.8em;
    display:  none;
}

/* --- Mini Grid ----------------------------------------------------------------------- */
.row {
    margin-bottom:  9px;
}
.row:after {
    content:    "";
    display:    table;
    clear:  both;
}
@media all and (min-width: 1150px) {
    .half-column {
        float: left;
        box-sizing: border-box;
        width: 450px;
        margin-left: 6px;
    }
    .half-column:first-child {
        margin-left: 0;
    }
    .row.tail {
        width: 450px;
        margin: 0 auto;
    }
}

/* --- Tables ----------------------------------------------------------------------- */
table.contact {
    margin-left:    76px;
}
hr {
    clear:  both;
    border: none;
    background: #fff;
}
table.contact tr {
    border-top: 1px solid silver;
}
table.contact tr:first-of-type {
    border-top: none;
}
table.contact th {
    font-weight:    bold;
    padding:    9px 9px 9px 38px;
    text-align: right;
}
table.contact td {
    padding:    9px 38px 9px 9px;
}

/* --- Effects ----------------------------------------------------------------------- */
.floatingHeader {
    position: fixed;
    top: 0;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
    color:  #666;
    padding:    9px 0;
}
h1.floatingHeader {
    padding:    0;
}
.floatingHeader.shown {
    opacity:    1;
    visibility: visible;
}
.mininav {
    float:  right;
    font-size:  19px;
}
.mininav a:hover {
    text-decoration:    none;
    color:  #666;
}

/* Actually make those interstitial pics, right above every header */
section:before {
    display:    block;
    background-position: center;
    background-size: cover;
    opacity:    0.7;
    width:  910px;
    height: 80px;
    content:    "  ";
}
#ideas:before { background-image: url("/img/interstitials/ideas.jpg"); }
#participation:before { background-image: url("/img/interstitials/participation.jpg"); }
#why:before { background-image: url("/img/interstitials/why.jpg"); }
#moocs:before { background-image: url("/img/interstitials/moocs.jpg"); }
#web-ants:before { background-image: url("/img/interstitials/web-ants.jpg"); }
#bit-goo:before { background-image: url("/img/interstitials/bit-goo.jpg"); }
#symbook:before { background-image: url("/img/interstitials/symbook.jpg"); }
#boltzmann:before { background-image: url("/img/interstitials/boltzmann.jpg"); }
#web-schema:before { background-image: url("/img/interstitials/web-schema.jpg"); }
#wocuments:before { background-image: url("/img/interstitials/wocuments.jpg"); }
#books:before { background-image: url("/img/interstitials/books.jpg"); }
#cv:before { background-image: url("/img/interstitials/cv.jpg"); }
#contact:before { background-image: url("/img/interstitials/contact.jpg"); }


/* Beneath a certain size, the content shifts to centre and we get some padding */
@media all and (max-width: 1150px) {
    main {
        margin: auto;
        padding:    0 50px 0 30px;
        max-width:  none;
    }
}

/* under 800 the top title needs to wrap, as does the nav */
@media all and (max-width: 800px) {
    h1 {
        background: #fff;
        margin-bottom:  0;
    }
    h1 span.name, h1 span.title {
        float:  none;
        display:    block;
        padding:    0;
        font-size:  27px;
    }
    h2, h3 {
        font-size:  27px;
    }
    body {
        font-size:  16px;
    }
    section {
        line-height:    normal;
    }
}
@media all and (max-width: 980px) {
    nav {
        text-align: left;
        margin-top: 19px;
    }
    nav ul {
        display:    block;
        padding-left:   57px;
    }
    nav li {
        display:    block;
        border-bottom:  none;
    }
    nav a {
        display:    block;
        min-width:  none;
        border-left:   none;
        border-right:   none;
        text-align: left;
    }
    nav li:hover a {
        color:  #ff8921;
        transition: color 1s;
        border-right:   none;
    }
    nav li:hover + li a {
        border-left-color:  none;
    }
    video, section:before {
        max-width:  100%;
    }
}


/* this needs to just print everything out, nicely of course */
@media print {
    /* Things that are there for the screen only */
    nav, #blurbs, .floatingHeader {
        display:    none;
    }
    main {
        margin: 10px 20px;
        max-width:  28cm;
    }
    body {
        font-size:  16px;
    }
    section {
        line-height:    normal;
    }
}
