
/* Fonts */
@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/robotoslab-regular-webfont.eot');
    src: url('/fonts/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotoslab-regular-webfont.woff2') format('woff2'),
         url('/fonts/robotoslab-regular-webfont.woff') format('woff'),
         url('/fonts/robotoslab-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/robotoslab-light-webfont.eot');
    src: url('/fonts/robotoslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotoslab-light-webfont.woff2') format('woff2'),
         url('/fonts/robotoslab-light-webfont.woff') format('woff'),
         url('/fonts/robotoslab-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/*
@font-face {
    font-family: 'Roboto Slab';
    src: url('/fonts/robotoslab-thin-webfont.eot');
    src: url('/fonts/robotoslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/robotoslab-thin-webfont.woff2') format('woff2'),
         url('/fonts/robotoslab-thin-webfont.woff') format('woff'),
         url('/fonts/robotoslab-thin-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
*/

body {
    font-family:    "Roboto Slab", serif;
    font-size:      19px; /* about 1.2em, used as basis */
    font-weight:    300;
    color:  #000;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:    300;
}

/* Layout */
main {
    max-width:  950px; /* maps to 50em */
    margin-left:    100px;
}
h1 {
    margin-bottom:  0;
}
nav {
/*    text-align: right;*/
    margin-bottom:  4em;
}
nav ul {
    list-style-type:    none;
    padding:    0;
    display:    inline-block;
    margin: 0 0 0 0;
}
nav li {
    display:    inline-block;
}
nav a {
    text-decoration:    none;
    display:    inline-block;
    min-width:  100px;
    color:  #f90;
    border-right:   1px solid #999;
    text-align: center;
/*    background: #555;
    color: #fff;
    border-radius:  20px 0 0 20px;
*/
}
nav li:last-of-type a {
    border-right:   none;
}
nav a:hover {
    color:  #999;
}
/*nav a:first-letter {
    padding-left: 15px;
    border-bottom:  3px solid;
}
nav li:nth-of-type(1) a:first-letter { border-color: hsl(0, 100%, 50%); }
nav li:nth-of-type(2) a:first-letter { border-color: hsl(72, 100%, 50%); }
nav li:nth-of-type(3) a:first-letter { border-color: hsl(144, 100%, 50%); }
nav li:nth-of-type(4) a:first-letter { border-color: hsl(216, 100%, 50%); }
nav li:nth-of-type(5) a:first-letter { border-color: hsl(288, 100%, 50%); }
*/
h1 {
    width:  100%;
    background: url("/img/line.svg") 0 28px repeat-x;
}
h1 span {
    background: #fff;
    display:    inline-block;
}
h1 span.title {
    padding-right:   15px;
}
h1 span.name {
    float: right;
    padding-left:   15px;
}

/* Inlines */
span.q {
    font-style: italic;
}
strong {
    font-weight:    normal;
}

/* Beneath a certain size, the content shifts to centre and we get some padding */
@media all and (max-width: 1150px) {
    main {
        margin: auto;
        padding:    0 50px 0 30px;
    }
}

/* XXX this needs to just print everything out, nicely of course */
@media print {
    
}
