
#sandpile {
    border: 1px dashed #ccc;
}
#sandpile-size {
    width:  60px;
    margin-right:   19px;
}
#sandpile-seed {
    margin-right:   19px;
}

/*
    Graph items
*/
.dot {
    fill:   #ff8921;
    fill-opacity:   0.5;
    stroke: #522600;
    stroke-width:   0.5;
}
.label {
    text-anchor:   end;
    font-size:  12px;
}
.domain {
    stroke-width:   1;
    fill:   none;
    stroke: #000;
}
.tick text {
    display:    none;
}
.tick line {
    stroke-width:   0.1;
}
