
#timeline-data {
    display:    none;
}

table th.year {
    background: #ccc;
    vertical-align: top;
}
table th.year div {
    /*
        XXX
        - this needs prefixing
    */
    transform:  rotate(-90deg);
    transform-origin: center 70%;
}
table th.month {
    font-size:  10px;
    font-weight:    normal;
    line-height:    normal;
}